*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-background: #0e0e0e;
    --color-logo: #ff5b50;
    --card-color: #252525;
    --text-color: #fff;
    --subtitle-color: #5a5757;
    --black-text: #000;
    --color-input: #0D0D0D;
}

body{
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    background: url(/assets/background.png) no-repeat var(--body-background);
}

header{
    display: flex;
    justify-content: space-between;
    margin: 40px;
    align-items: center;
}
header ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}
header ul a{
    text-decoration: none;
}
header ul a:visited{
    color:inherit;
}
header ul li{
    transition: all 0.3s;
    cursor: pointer;
}
header ul li:hover{
    opacity: 70%;
}
.nav-btn{
    display:flex;
    align-items: center;
    gap: 1rem;
    width: 200px;
    height: 40px;
    justify-content: center;
    font-weight: 700;
    border: none;
    outline: none;
    background-color: var(--text-color);
    cursor: pointer;
    transition: all 0.3s;
}
.nav-btn:hover{
    opacity: 80%;
}
.info{
    display: flex;
    margin: 80px 40px 0 40px;
    gap: 4rem;
    align-items:center;
    
}

.info h2{
    font-size: 3rem;
    font-weight: 600;
    
}
.info h2 span{
    color: var(--color-logo);
    font-weight: 700;
}

.group-artists{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 25%;
    gap: 1rem;
}
.group-artists p{
    font-weight: 500;
}
.group-artists picture{
    display: flex;
    align-items: flex-end;
    gap: 0.5rem;
}
.galery{
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    row-gap:2rem;
}
.galery img{
    display:flex;
    flex-direction:column;
    align-items:center;
    border: solid var(--subtitle-color) 1px;
    justify-content: center;
    transition: all 0.4s;
    max-width: 300px;
}
.galery img:hover{
    opacity: 70%;
}
.statistics{
    display: flex;
    justify-content: space-between;
    background-color: var(--body-background);
    height: 700px;
}

.numbers{
    display: flex;
    flex-direction: column;
    width: 30vw;
    justify-content: space-around;
    align-items: center;
    border-right: 1px var(--card-color) solid;
    border-bottom: 1px var(--card-color) solid;
}
.numbers p{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    line-height: 2rem;
}
.numbers p span{
    font-size: 1rem;
    color: var(--subtitle-color);
    text-align: center;
}
.statistics-description{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 70vw;
}
.text-item p{
    display: flex;
    margin: 80px;
    gap: 2rem;
    flex-direction: column;
    
}
.text-item a{
    margin-left:  80px;
}
.text-description{
    display: flex;
    
}
.statistics-description img{
    width: 70vw;
    height: 350px;
}
.popular{
    background-color: var(--body-background);
    display: flex;
    flex-direction: column;
    
}
.popular-title{
    margin:100px 40px;
    font-size: 2rem;
}
.popular-title span{
    color: var(--color-logo);
}

.astronauts{
    display: flex;
    gap: 18vw;
    align-items: center;
    justify-content: center;
}
.astronauts-container{
    display: flex;
    flex-direction: column;
    gap:2rem;
}
.linha-central{
    height: 670px;
    background-color: var(--card-color);
    width: 2px;
}
.astronauts-container h3{
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.astronauts-container p{
    display: flex;
    justify-content: space-between;
    color: var(--subtitle-color);
    font-weight: 500;
}
.astronauts-container span{
    color: var(--color-logo);
}
.best-artists{
    background-color: var(--body-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}
.best-artists-title{
    font-size: 2rem;
}
.best-artists-title span{
    color: var(--color-logo);
}
.cards{
    padding-top: 100px;
    display: grid;
    grid-template-columns: 370px 370px 370px;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    row-gap:2rem;
}
.card-item{
    display: flex;
    padding: 20px;
    width: 355px;
    height: 150px;
    background-color: var(--card-color);
    align-items: center;
    justify-content: space-around;
    transition: all 0.3s;
}
.card-item p{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.card-item:hover{
    background-color: var(--color-logo);
    color: var(--text-color);
}
.best-artists a{
    font-size: 1.2rem;
    margin: 50px;
    text-decoration: none;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 2rem;
    transition: all 0.3s;
}
.best-artists a:visited{
    color: inherit;
}
.best-artists a:hover{
    opacity: 70%;
}
footer{
    background-color: var(--card-color);
}
.logo-footer{
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-footer button{
    width: 50px;
    height: 50px;
    background-color: var(--color-logo);
    border: none;
    transition: all 0.3s;
    cursor: pointer;
}
.logo-footer button:hover{
    opacity: 70%;
}
.links-footer{
    display: flex;
    justify-content: space-between;
    border: solid 1px var(--subtitle-color);
    
}
.email-container{
    padding:80px;
    padding-left: 100px;
    border-right: 1px solid var(--subtitle-color);
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}
.email-container p{
    font-size: 1.5rem;
}
.email-container span{
    font-size: 1.4rem;
    color: var(--color-logo);
}
.email-container input{
    width: 18vw;
    height: 10vh;
    background-color: var(--black-text);
    border: none;
    padding: 1rem;
    font-size: 1.1rem;
}
.email-container button{
    width: 6vw;
    height: 10vh;
    outline: none;
    border: none;
    font-size: 1.2rem;
    font-weight: 600;
    background-color: var(--subtitle-color);
    transition: all .3s;
    cursor: pointer;
    color: var(--text-color);
}
.email-container label{
    width: 30vw;
}
.email-container button:hover{
    opacity: 70%;
}
.footer-navbar{
    display: flex;
    align-items: center;
    padding: 0 130px;
    gap: 8rem;
    
}
.footer-navbar ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.footer-navbar a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 400;
    transition: all .3s;
}
.footer-navbar a:visited{
    color: inherit;
}
.footer-navbar a:hover{
    opacity: 70%;
}
.icons-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
}
.icons-container ul{
    display: flex;
    list-style: none;
    gap: 2rem;
}
#link-rocket{
    color: var(--subtitle-color);
    text-decoration: none;
    font-size: 1.2rem;
    transition: all .3s;
}
#link-rocket:hover{
   opacity: 70%; 
}
#link-rocket:visited{
    color: var(--subtitle-color);
}
@media (max-width:1350px) {
    .galery{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
    }
    .galery img{
        max-width: 200px;
    }
    
}

@media (max-width: 1100px) {
    body{
        background: url(/assets/background.png) repeat no-repeat var(--body-background);
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100vw;
    }
    header{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }
    .info{
        display: flex;
        flex-direction: column;
        margin-top:10px;
        align-items: center;
    }
    .group-artists{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }
    .info p{
        width: 200px;
    }
    .info h2{
        font-size: 25px;
        max-width: 300px;
    }
    
    a{
        font-size: 1rem;
    }
    .galery{
        display: flex;
        flex-direction: column;
        margin-top: 150px;
    }
    .statistics{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 150px;
        margin-bottom: 100px;
    }
    .numbers{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 40px;
        border: none;
    }
    .statistics-description{
        display: flex;
        align-items: center;
    }
    .text-description{
        display: flex;
        flex-direction: column;
        max-width: 370px;
        align-items: center;
        
    }
    .text-item {
        display: flex;
        flex-direction: column;
    }
    .text-item a{
        padding-left: 50px;
    }
    .statistics-description img{
        display: none;
    }
    .popular{
        align-items: center;
    }
    .popular-title{
        max-width: 300px;
        margin: none;
        font-size: 1rem;
    }
    .astronauts{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .linha-central{
        display: none;
    }
    .astronauts-container p{
        font-size: 1rem;
    }
    .astronauts-container h3{
        font-size: 1.2rem;
    }
    .astronauts-container img{
        max-width: 230px;
    }
    .best-artists{
        align-items: center;
        
    }
    .best-artists-title h2{
        font-size: 1.5rem;
    }
    .cards{
        display: flex;
        flex-direction: column;
    }
    .card-item{
        width: 280px;
    }
    footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
    }
    .logo-footer{
        max-width: 370px;
        gap: 1rem;
        align-items: center;
        justify-content: center;
    }
    .logo-footer button{
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .links-footer{
        display: flex;
        flex-direction: column;
        align-items: center;
        border: none;
        max-width: 350px;
    }
    .email-container{
        align-items: center;
        width: 300px;
        border: none;
    }
    .email-container input{
        width: 200px;
        height: 40px;
        font-size: 1rem;
    }
    .email-container label{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80vw;
    }
    .email-container button{
        width: 100px;
        height: 40px;
    }
    .footer-navbar{
        gap: 1rem;
        max-width: 100vw;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .icons-container{
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}